In [7]:
import pandas
import numpy as np
pcsv = pandas.read_csv("titanic_train.csv")
ptype = [1,2,3]
d1={}
for i in ptype:
    prow = pcsv[pcsv["Pclass"]==i]
    avg_price=prow["Fare"].mean()
    d1[str(i)+"号船舱均价"]=avg_price
print(d1)

{'1号船舱均价': 84.15468749999992, '2号船舱均价': 20.66218315217391, '3号船舱均价': 13.675550101832997}

In [10]:
d2={}
for i in ptype:
    prow = pcsv[pcsv["Pclass"]==i]
    su_person = len(prow[prow["Survived"]==1])/len(prow)
    d2[str(i)+"号船舱的存活率"]=su_person
d2

{'1号船舱的存活率': 0.6296296296296297,
 '2号船舱的存活率': 0.47282608695652173,
 '3号船舱的存活率': 0.24236252545824846}

In [11]:
pcsv.pivot_table(index="Pclass",values="Fare",aggfunc=np.mean)

             Fare
Pclass
1       84.154687
2       20.662183
3       13.675550

In [17]:
pcsv.pivot_table(index="Pclass",values="Survived",aggfunc=np.sum)

        Survived
Pclass
1            136
2             87
3            119